* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
  -webkit-user-select: none;
}

body {
  background-color: #110322;
}

#nidonox {
  position: fixed;
  width: 100%;
  height: 100%;
}

.nox {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  opacity: 0.4;
  -webkit-transform: scale(0.0);
  position: absolute;
  color: white;
  width: 200px;
  height: 200px;
  border: 6px solid hsla(120,50%,100%,0.2);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.15);
}

.nox.unsummoned {
  opacity: 0.4;
  -webkit-transform: scale(0.0);
  -webkit-transition: -webkit-transform 100ms ease-out, opacity 100ms ease-out;
}

.nox.summoned {
  opacity: 1.0;
  -webkit-transform: scale(1.0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.180, 0.220, 0.265, 1.495); 
  -webkit-transition-timing-function: cubic-bezier(0.180, 0.220, 0.265, 1.495); 
}

.nox.generic {
  opacity: 1.0;
  -webkit-transform: scale(1.0);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), opacity 500ms ease, width 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), height 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), border-radius 200ms cubic-bezier(1.000, 0.355, 0.865, 0.550);
  -webkit-transition-timing-function: cubic-bezier(0.180, 0.220, 0.265, 1.495); 
}

.nox.photo, .nox.becomming.photo {
  opacity: 0.0;
  text-align: center;
  -webkit-transform: scale(10.0);
  -webkit-transition: all 200ms cubic-bezier(1.000, 0.355, 0.925, 0.695);
}

.nox.red, .nox.blue, .nox.yellow, .nox.pink, .nox.maroon, .nox.crimson, .nox.rust, .nox.cream, .nox.goldenrod, .nox.gold, .nox.amber {
  width: 300px;
  height: 200px;
  opacity: 1.0;
  -webkit-transition: background 500ms ease, opacity 500ms ease;
  -webkit-transform: scale(1.0);
}

.nox.becomming {
  -webkit-transition: all 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), width 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), height 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), border-radius 200ms ease, left 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), top 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495);
  -webkit-transition-timing-function: cubic-bezier(0.180, 0.220, 0.265, 1.495);
}

.red {
  background: hsla(0,100%,50%,0.2);
}
.blue {
  background: hsla(200,100%,50%,0.2);
}
.yellow {
  background: hsla(60,100%,50%,0.2);
}
.pink {
  background: hsla(0,90%,90%,0.4);
}
.maroon {
  background: hsla(10,90%,30%,0.3);
}
.crimson {
  background: hsla(0,100%,50%,0.3);
}
.rust {
  background: hsla(30,80%,40%,0.3);
}
.cream {
  background: hsla(60,80%,80%,0.4);
}
.gold {
  background: hsla(55,100%,50%,0.3);
}
.goldenrod {
  background: hsla(50,90%,50%,0.3);
}

.poedoe {
  width: 300px;
  height: 200px;
  opacity: 1.0;
  background: hsla(120,100%,50%,0.2);
}

.photo h1 {
  font-family: Helvetica;
  font-size: 60px;
  line-height: 200px;
}

.book_of_spells {
  -webkit-transform: rotateZ(0deg) scale(1.0);
  width: 200px;
  height: 200px;
  border-radius: 200px;
/*  background: transparent;
  border: none;*/
}

.book_of_spells ul {
  padding-top: 6px;
}

.book_of_spells ul li {
  -webkit-transform: scale(1.0);
  -webkit-transition: all 50ms ease;
  margin-left: 6px;
  margin-bottom: 6px;
  float: left;
  width: 80px;
  height: 80px;
  color: white;
  font-family: Helvetica;
  /*line-height: 75px;*/
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  border: 6px solid hsla(120,50%,100%,0.05);
}

.book_of_spells ul li ul.selected {
  visibility: visible;
  -webkit-transition: all 155ms ease;
  opacity: 1.0;
}

.book_of_spells ul li ul {
  -webkit-transition: all 155ms ease;
  opacity: 0.0;
  visibility: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
}

.book_of_spells ul.pop li ul, .book_of_spells ul.pop li ul.selected {
  -webkit-transition: all 155ms ease;
}

.book_of_spells ul.pop li ul li {
  top: -6px;
  left: -12px;
  position: absolute;
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 0ms ease-in;
}

.book_of_spells ul.slideout li ul, .book_of_spells ul.slideout li ul.selected {
  -webkit-transition: all 55ms ease;
}

.book_of_spells ul.slideout li ul li {
  top: -6px;
  left: -12px;
  position: absolute;
  -webkit-transition-delay: 0ms;
  -webkit-transition: all 165ms ease-in;
} 
.book_of_spells ul.slideout li ul.selected li {
  -webkit-transition-delay: 65ms;
  -webkit-transition: all 165ms ease-in;
}

.book_of_spells ul.glitch li ul li {
  top: -6px;
  left: -12px;
  -webkit-transform: translateX(0px) rotateX(-3600deg) rotateY(-1800deg) rotateZ(1800deg) translateY(0px) scale(10,0.5);
  -webkit-transition: all 165ms ease;
} 
.book_of_spells ul.glitch li ul.selected li {
  -webkit-transform: translateX(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(0px) scale(1.0,1.0);
  position: absolute;
  -webkit-transition: all 165ms ease;
}
.book_of_spells ul li ul.selected li.touchhover {
  -webkit-transform: scale(1.1,1.1);
  -webkit-transition: all 50ms ease;
}
/* 2 */
.book_of_spells ul li:nth-child(2) ul.selected li:nth-child(1) {
  top: -104px;
}

.book_of_spells ul.slideout li:nth-child(2) ul.selected li:nth-child(2) {
  -webkit-transition: all 0ms ease;
  z-index: 1;
}

.book_of_spells ul li:nth-child(2) ul.selected li:nth-child(3) {
  top: -104px;
  left: 86px;

}

.book_of_spells ul li:nth-child(2) ul.selected li:nth-child(4) {
  left: 86px;
}

/* 4 */
.book_of_spells ul.slideout li:nth-child(4) ul.selected li:nth-child(1) {
  -webkit-transition: all 0ms ease;
  z-index: 1;
}

.book_of_spells ul li:nth-child(4) ul.selected li:nth-child(2) {
  left: 86px;
}

.book_of_spells ul li:nth-child(4) ul.selected li:nth-child(3) {
  top: 92px;
}

.book_of_spells ul li:nth-child(4) ul.selected li:nth-child(4) {
  top: 86px;
  left: 86px;
}


.book_of_spells ul li.touchhover {
  border: 6px solid hsla(120,50%,100%,0.25);
  -webkit-transform: scale(1.12);
  -webkit-transition: all 50ms ease;
}

.book_of_spells ul li.photo {
  background-repeat: no-repeat;
  background-image: url(../images/camera-white-92.png);
  opacity: 1.0;
  background-position: 0px 10px;
  border: none;
  width: 92px;
  height: 92px;
}

.nox.drum_machine .drum_machine {
  -webkit-transform: scale(30.0, 0.0);
  -webkit-transition: all 90ms ease-out;
  margin: -1px;
  padding: 2px;
}

.nox.drum_machine.became .drum_machine {
  -webkit-transform: scale(1.0, 1.0);
  -webkit-transition: all 90ms ease-out;
}

.drum_machine {
  opacity: 1.0;
  overflow: hidden;
  padding: 1px 0px 1px 1px;
  width: 500px;
  height: 355px;
  background: hsla(120,100%,100%, 0.1);
  border-color: hsla(120,100%,100%, 0.2);
}

.drum_machine ul.steps li {
  width: 52px;
  height: 52px;
  margin: 5px;
  float: left;
  border-radius: 5px;
  background: hsla(0,50%,100%, 0.4);
}

.drum_machine ul.steps li.on {
  background: hsla(0,50%,100%, 0.9);
}

.book_of_spells li.drum_machine svg rect {
  
}







