* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style: none;
  -webkit-user-select: none;
}

body {
  background-color: #003;
}

#nidonox {
  position: fixed;
  width: 100%;
  height: 100%;
}

.nox {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  opacity: 0.4;
  -webkit-transform: scale(0.0) translate3d(0,0,0);      
  position: absolute;
  color: white;
  width: 200px;
  height: 200px;
  border: 6px solid hsla(120,50%,100%,0.2);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.15);
}

.nox.unsummoned {
  opacity: 0.4;
  -webkit-transform: scale(0.0) translate3d(0,0,0);
  -webkit-transition: -webkit-transform 100ms ease-out, opacity 100ms ease-out;
}

.nox.summoned {
  opacity: 1.0;
  -webkit-transform: scale(1.0) translate3d(0,0,0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.180, 0.220, 0.265, 1.495); 
  -webkit-transition-timing-function: cubic-bezier(0.180, 0.220, 0.265, 1.495); 
}

.nox.generic {
  opacity: 1.0;
  -webkit-transform: scale(1.0) translate3d(0,0,0);
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), opacity 500ms ease, width 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), height 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), border-radius 200ms cubic-bezier(1.000, 0.355, 0.865, 0.550);
  -webkit-transition-timing-function: cubic-bezier(0.180, 0.220, 0.265, 1.495); 
}

.nox.photo, .nox.becomming.photo {
  opacity: 0.0;
  text-align: center;
  -webkit-transform: scale(10.0) translate3d(0,0,0);
  -webkit-transition: all 200ms cubic-bezier(1.000, 0.355, 0.925, 0.695);
}

.nox.red, .nox.blue, .nox.yellow {
  width: 300px;
  height: 200px;
  opacity: 1.0;
  -webkit-transition: background 500ms ease, opacity 500ms ease;
  -webkit-transform: scale(1.0) translate3d(0,0,0);
}

.nox.becomming {
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), width 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), height 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), border-radius 200ms ease, left 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495), top 300ms cubic-bezier(0.180, 0.220, 0.265, 1.495);
  -webkit-transition-timing-function: cubic-bezier(0.180, 0.220, 0.265, 1.495);
}

.red {
  background: hsla(0,100%,50%,0.2);
}

.blue {
  background: hsla(200,100%,50%,0.2);
}

.yellow {
  background: hsla(60,100%,50%,0.2);
}

.photo h1 {
  font-family: Helvetica;
  font-size: 60px;
  line-height: 200px;
}

.book_of_spells {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.book_of_spells ul {
  padding-top: 6px;
}

.book_of_spells ul li {
  -webkit-transform: scale(1.0) translate3d(0,0,0);
  -webkit-transition: all 50ms ease;
  margin-left: 6px;
  margin-bottom: 6px;
  float: left;
  width: 80px;
  height: 80px;
  color: white;
  font-family: Helvetica;
  /*line-height: 75px;*/
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  border: 6px solid hsla(120,50%,100%,0.05);
}

.book_of_spells ul li.touchhover {
  border: 6px solid hsla(120,50%,100%,0.25);
  -webkit-transform: scale(1.12) translate3d(0,0,0);
  -webkit-transition: all 150ms ease;
}

.book_of_spells ul li.photo {
  background-repeat: no-repeat;
  background-image: url(../images/camera-white-92.png);
  opacity: 1.0;
  background-position: 0px 10px;
  border: none;
  width: 92px;
  height: 92px;
}